<head>
  <meta charset="utf-8">
  <title>{% if page.title != null %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- css -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/monokai.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
</head>
