<header>
  <div class="wrap">

    <a class="brand" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/img/logo.svg" alt="">
    </a>

    <nav>
      <a href="/docs">Docs</a>
      <a href="/docs/api">API</a>
      <a target="_blank" href="{{ site.repo_url }}">Gitlab</a>
    </nav>
  </div>
</header>