---
---

$blue: #145dbf;
$white: #f1f1f1;
$light-grey: #e1e1e1;
$dark: #1d1d1d;

/* Body ========================================================================== */
body,
html {
  min-width: 700px;
  margin: 0;
  padding: 0;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  outline: none;
  color: $dark;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

/* Heading ========================================================================== */

h3 { color: $blue; }

/* Styling ========================================================================== */

blockquote {
  padding: 0.5rem;
  background: $white;
  margin: 0 0 1rem;
  border-left: 0.3rem solid $blue;

  // li > div { margin-top: 1rem; }
  // pre { border: 1px solid $light-grey; }
  // code { border: 1px solid $light-grey; }
  // pre code,
  // pre tt { border: 0; }
  & > :first-child { margin-top: 0; }
  & > :last-child { margin-bottom: 0; }
}

/* Header ========================================================================== */
header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $white;
  border-bottom: 1px solid $light-grey;
  height: 3rem;
  display: inline-flex;
  margin-bottom: 1rem;

  .wrap {
    display: inline-flex;
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }

  img {
    height: 3rem;
    margin: 0 2rem;
    padding: 0;
    vertical-align: middle;
  }

  nav {
    margin-left: auto;
    margin-right: 2rem;
    height: 3rem;
    a {
      display: inline-block;
      color: $dark;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2.6rem;
      padding: 0.2rem 0.25rem;
      margin-right: 0.5rem;

      &::after {
        content: "";
        display: block;
        width: 0;
        margin: 0 auto;
        border-bottom: 0.2rem solid $blue;
        transition: width 0.2s ease;
      }

      &:hover:after {
        width: 100%;
      }
    }
  }
}

/* Container ========================================================================== */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 1rem;
  min-height: calc(100vh - 7rem)
}

/* Footer ========================================================================== */
footer {
  height: 2rem;
  padding: 0.25rem;
  text-align: center;
}
